



.wrapper {

    width: auto; 	
    margin: -3em 0 1em 10em;
	vertical-align:middle;

	
}

.obj {
    offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0');
    offset-distance: 0;
    animation: move 2000ms infinite alternate;
    width: 1.2rem;  /*  taille des 2 objets; */
    height: 1.2rem; /*  taille des 2 objets; */
    background-color: #04AA6D;
}

.obj:nth-child(2) {
    background-color:#333; /* aqua; */
	margin-top: .5em;
    offset-rotate: 45deg;
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
    offset-distance: 100%;
  }
}
