   
      body{ 
	      background:gray; 
		  margin: 0;
		 overflow-x: hidden;
	  }
	  #sortie {
	     margin-top:7.65%; /* 18.65%; */
		 margin-bottom:7%;
         margin-left: 33%;  /* 38%; auto */
         margin-right: auto;
		 float:none;
         width:7em;  /* width: 5em;	 */		 
      }
	  #Timer, #audio{	     
	     /*
		 margin-top:18.65%;
		 margin-left:38%;
		 */
		 padding-top: .7em;/* 3% */
		 padding-bottom:0;
		 text-align:center;
		 width:7em; /* width:5em; */
		 height:2em;
		 
		 background:white;
		 font-size:3em;
		 
	  }
	  #audio {
	     margin-top:0; 
		 background:#ccc; 
		 height:1em; 
		 padding-top: 0;
		  
	  }
	  button {
	    vertical-align: top; 
		padding:.25em 2em; /* padding:.25em 2em; */
		
		margin-top:.73em;
	  }
	  #start, #stop { cursor:pointer;}
	  #count { cursor: wait;}
	  /************************ Top Nav *******************************/
	   .topnav {
		  overflow: hidden;
		  background-color: #333;
		}

		.topnav a {
		  float: left;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 2% 22.5%; /* padding: 14px 16px;   */
		  text-decoration: none;
		  font-size: 17px;
		}

		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}

		.topnav a.active {
		  background-color: #04AA6D;
		  color: white;
		}
	   /**************** responsive topnav ******/
	   @media screen and (max-width: 1000px) {
		  .topnav a:not(:first-child) {display: none;}
		  .topnav a.icon {
			float: right;
			display: block;
		  }
		}

		@media screen and (max-width: 1000px) {
		  .topnav.responsive {position: relative;}
		  .topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		  }
		  
		@media screen and (max-width: 600px) {
          #sortie {
               margin-left: 14%;  /*25%;  38%; auto */
		  }
		}
		@media screen and (max-width: 460px) {
		   #Timer, #audio { width:200%; }
		   /* #audio button { padding:.25em .75em;} */
		   #audio button { padding:.25em .65em !important; font-size:.3em !important; margin-top:.73em !important;}
		   #audio button#count {  background:inherit !important; border:none !important; color:gray !important; padding-top: 10em !important; background:transparent !important; }
	   
		}
		

		  
   