
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background:black;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  top: 7.9%;  
  left:14.1%;
  width: 80%; 
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 3px !important;
  right: 39px;
  font-size: 3em;
}



@media screen and (max-height: 450px) {

  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
